.nama-tamu {
    position: absolute;
    width: 145px;
    height: 70px;
    left: 155px;
    bottom: 195px;
    padding: 8px;
    font-size: 12px;
    text-align: center;
    overflow: auto;
    font-family: 'montserrat';
    font-weight: 600;
}

.buka-undangan>span::before {
    content: "";
    width: 0px;
    height: 400px;
    background-color: #496C9C;
    position: absolute;
    top: -150px;
    rotate: -40deg;
    left: -10px;
    z-index: -1;
    transition: all 1.6s;
}

.buka-undangan>span:hover {
    color: white;
}

.buka-undangan>span:hover::before {
    width: 300px;
}

.buka-undangan>span {
    position: relative;
    transition: all 1.6s;
    z-index: 1;
}



.buka-undangan {
    position: absolute;
    left: 173px;
    overflow: hidden;
    cursor: pointer;
    bottom: 135px;
    padding: 5px 8px;
    font-size: 11px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #496C9C;
    font-family: 'montserrat';
    font-weight: 600;
    z-index: 0;
}

.cover {
    position: relative;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: all .9s;
    height: 725px;
    background-color: white;
}

.wrapper {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 99;
    overflow: hidden;
    transition: all .9s;
    height: 200vh;
}

.cover-active {
    height: 0vh;
}

/* ornament */

.ornament-bunga-1 {
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.516));
}

.ornament-bunga-2 {
    position: absolute;
    top: 0;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.516));
    right: 0;
}

.ornament-burung {
    position: absolute;
    top: 101px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.516));
    right: 30%;
}

.bismillah {
    position: absolute;
    top: 221px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.516));
    right: 30%;
}

.sec-1 {
    width: 420px;
}

.bg-pastel-blue {
    background-color: #496C9C;
}

/* section 1 */
.teks-pembuka {
    padding: 250px 10px 10px 10px;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/Fontfabric\ -\ Nexa\ Script\ Light.otf);
}

@font-face {
    font-family: mySecondFont;
    src: url(../font/Fontfabric\ -\ Nexa\ Script\ Bold.otf);
}

.teks-pembuka p:nth-child(1) {
    color: whitesmoke;
    font-family: myFirstFont;
}

.teks-pembuka p:nth-child(2) {
    color: whitesmoke;
    font-size: 12px;
    font-family: poppins;
}

.teks-pembuka h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    color: #c69141;
    font-size: 38px;
    font-family: mySecondFont;
    margin: 20px 0 0 0;
}

.teks-pembuka h1:nth-child(7) {
    margin-top: 0px;
}

.teks-pembuka p:nth-child(4) {
    color: whitesmoke;
    font-family: myFirstFont;
}

.teks-pembuka p:nth-child(5) {
    color: whitesmoke;
    font-size: 12px;
    font-family: poppins;
}

.teks-pembuka p:nth-child(8) {
    color: whitesmoke;
    font-family: myFirstFont;
}

.teks-pembuka p:nth-child(9) {
    color: whitesmoke;
    font-size: 11px;
    font-family: poppins;
}

@media screen and (max-width:425px) {
    .wrapper {
        width: 112%;
    }
}