@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



.nama-tamu {
    position: absolute;
    width: 145px;
    height: 70px;
    left: 155px;
    bottom: 195px;
    padding: 8px;
    font-size: 12px;
    text-align: center;
    overflow: auto;
    font-family: 'montserrat';
    font-weight: 600;
}


.buka-undangan>span::before {
    content: "";
    width: 0px;
    height: 400px;
    background-color: #496C9C;
    position: absolute;
    top: -150px;
    rotate: -40deg;
    left: -10px;
    z-index: -1;
    transition: all 1.6s;
}

.buka-undangan>span:hover {
    color: white;
}

.buka-undangan>span:hover::before {
    width: 300px;
}

.buka-undangan>span {
    position: relative;
    transition: all 1.6s;
    z-index: 1;
}



.buka-undangan {
    position: absolute;
    left: 173px;
    overflow: hidden;
    cursor: pointer;
    bottom: 135px;
    padding: 5px 8px;
    font-size: 11px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #496C9C;
    font-family: 'montserrat';
    font-weight: 600;
    z-index: 0;
}


.cover {
    position: relative;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: all .9s;
    height: 725px;
    background-color: white;
}

.wrapper {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 99;
    overflow: hidden;
    transition: all 2.9s;
    height: 3650px;
}

.cover-active {
    height: 0vh;
}

/* ornament */

.ornament-bunga-1 {
    position: absolute;
    top: 0;
    left: 0;
    animation: myAnim 10s linear 0s infinite normal none;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.516));
}

.ornament-bunga-2 {
    position: absolute;
    top: 0;
    animation: myAnim 10s linear 0s infinite normal none;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.516));
    right: 0;
}

.ornament-bunga-1-sec-2 {
    position: absolute;
    top: -10px;
    left: -20px;
    animation: myAnim 10s linear 0s infinite normal none;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.516));
}

.ornament-bunga-2-sec-2 {
    position: absolute;
    top: -10px;
    animation: myAnim 10s linear 0s infinite normal none;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.516));
    right: -20px;
}

.ornament-bunga-3-sec-2 {
    position: absolute;
    top: -10px;
    left: 42%;
    rotate: 180deg;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.516));
}

.ornament-bunga-3 {
    position: absolute;
    rotate: 200deg;
    bottom: 0;
    animation: myAnim 10s linear 0s infinite normal none;
    left: -20px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.516));
}

.ornament-bunga-4 {
    position: absolute;
    bottom: 0;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.516));
    animation: myAnim 10s linear 0s infinite normal none;
    right: -20px;
    rotate: -20deg;
}

.ornament-burung {
    position: absolute;
    top: 101px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.516));
    right: 27.5%;
}

.bismillah {
    position: absolute;
    top: 221px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.516));
    right: 30%;
}

.sec-1 {
    width: 450px;
}

.sec-1::after {
    content: "";
    background: url(../img/bunga-saja.png);
    width: 430px;
    height: 430px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 65%;
    filter: blur(1px);
    opacity: .2;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.bg-pastel-blue {
    background-color: #496C9C;
}

/* section 1 */
.teks-pembuka {
    padding: 250px 10px 10px 10px;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/Fontfabric\ -\ Nexa\ Script\ Light.otf);
}

@font-face {
    font-family: mySecondFont;
    src: url(../font/Fontfabric\ -\ Nexa\ Script\ Bold.otf);
}

.teks-pembuka p:nth-child(1) {
    color: whitesmoke;
    font-family: myFirstFont;
}

.teks-pembuka p:nth-child(2) {
    color: whitesmoke;
    font-size: 12px;
    font-family: poppins;
}

.teks-pembuka h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    color: #c69141;
    font-size: 38px;
    font-family: mySecondFont;
    margin: 20px 0 0 0;
}

.teks-pembuka h1:nth-child(7) {
    margin-top: 0px;
}

.teks-pembuka p:nth-child(4) {
    color: whitesmoke;
    font-family: myFirstFont;
}

.teks-pembuka p:nth-child(5) {
    color: whitesmoke;
    font-size: 12px;
    font-family: poppins;
}

.teks-pembuka p:nth-child(8) {
    color: whitesmoke;
    font-family: myFirstFont;
}

.teks-pembuka p:nth-child(9) {
    color: whitesmoke;
    font-size: 10.5px;
    font-family: poppins;
}

.wrapper-surah {
    padding: 0 10px;
}

.wrapper-surah>.surah-arrum {
    color: whitesmoke;
    font-family: 'poppins';
    font-size: 10.5px;
}

/* section 2 */
.sec-2 {
    width: 450px;
}

.sec-2::after {
    content: "";
    background: url(../img/bunga-saja.png);
    width: 430px;
    height: 430px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 65%;
    filter: blur(1px);
    opacity: .2;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.teks-content-sec-2 {
    padding: 100px 10px 10px 10px;
}

.teks-content-sec-2 p:nth-child(9) {
    color: whitesmoke;
    font-family: 'poppins';
    font-size: 11px;
}

.teks-content-sec-2 h2:nth-child(8) {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    color: #c69141;
    font-size: 28px;
    margin-top: 50px;
    font-family: mySecondFont;
}

.teks-content-sec-2 h2:nth-child(10) {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    color: #c69141;
    font-size: 33px;
    margin-top: 10px;
    font-family: mySecondFont;
}

.teks-content-sec-2 p:nth-child(11) {
    color: whitesmoke;
    font-family: 'poppins';
    font-size: 11px;
}

.teks-content-sec-2 p:nth-child(1) {
    color: whitesmoke;
    font-family: 'poppins';
    font-size: 12px;
}

.teks-content-sec-2 p:nth-child(2) {
    color: whitesmoke;
    font-family: 'poppins';
    font-size: 12px;
}

.ornament-daun-1 {
    position: absolute;
    top: 440px;
    left: -10px;
}

.ornament-bunga-rangkai-2 {
    position: absolute;
    top: 480px;
    left: 190px;
}

.ornament-daun-2 {
    position: absolute;
    top: 440px;
    right: -10px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.ornament-daun-3 {
    position: absolute;
    bottom: -70px;
    left: -10px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    rotate: 20deg;
}

.ornament-daun-4 {
    position: absolute;
    bottom: -70px;
    right: -10px;
    rotate: -20deg;
}

.ornament-bunga-sec-2 {
    position: absolute;
    bottom: -120px;
    transform: translate(-50%, -50%);
}

/* Section 3 */
.sec-3 {
    width: 450px;
}

.sec-3::after {
    content: "";
    background: url(../img/bunga-saja.png);
    width: 430px;
    height: 430px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 35%;
    filter: blur(1px);
    opacity: .2;
    left: 50%;
    transform: translate(-50%, -50%)scaleX(-1)rotate(30deg);
    z-index: -1;
}

.sec-3::before {
    content: "";
    background: url(../img/bunga-saja.png);
    width: 430px;
    height: 430px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 77%;
    filter: blur(1px);
    opacity: .2;
    left: 50%;
    transform: translate(-50%, -50%)scaleX(-1)rotate(30deg);
    z-index: -1;
}

.title-sec-3 {
    margin-top: 100px;
    font-family: myFirstFont;
    background-color: #eee;
    width: 250px;
    border-radius: 20px;
    padding: 8px;
    color: #496C9C;
}

.title-sec-3-1 {
    margin-top: 30px;
    font-family: myFirstFont;
    background-color: #eee;
    width: 250px;
    border-radius: 20px;
    padding: 20px 8px 28px 8px;
    color: #496C9C;
}

.daun-sec-3 {
    position: absolute;
    top: 100px;
    left: 60px;
    width: 70px;
}

.daun-sec-3-flip {
    transform: scaleX(-1);
    position: absolute;
    top: 100px;
    right: 60px;
    width: 70px;
}

.pihak-perempuan {
    background-color: #eee;
    width: 200px;
    margin-top: 30px;
    border-radius: 20px;
    padding: 5px 8px;
    color: #c69141;
    font-family: 'poppins';
}

.list-perem {
    font-family: 'poppins';
    color: whitesmoke;
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
    width: 268px;
}

.denah {
    background-color: #eee;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.416);
}
.alamat-rumah{
    padding: 5px 15px;
    background-color: #496C9C;
    color: white;
    text-decoration: none;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 14px;
}

@media screen and (max-width:451px) {
    html {
        width: 450px;
    }

    main {
        overflow-x: hidden;
    }
}

/* 
@media screen and (max-width:375px) {
    main {
        margin-left: 15px;
    }
}

@media screen and (max-width:320px) {
    main {
        margin-left: 35px;
    }
} */

@keyframes myAnim {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    90% {
        transform: rotate(8deg);
    }
}